h1 {
    font-family: 'Oxygen', sans-serif;
}

h4 {
    font-family: 'Oxygen', sans-serif;
}



body {
    background: #bdc3c7;  
    background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);  
    background: linear-gradient(to top, #2c3e50, #bdc3c7);
    display: flex;
    text-align: center;
    background-repeat: no-repeat;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    display: flex;
    
}
 :hover #btn {
    background-color: orangered;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid dark;
    cursor: pointer;
    transition: transform 1s;;
}


